<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923871135530-2vrns70laf9tm74lq0il7k5n54v0tf5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923871135530-2vrns70laf9tm74lq0il7k5n54v0tf5f</string>
	<key>API_KEY</key>
	<string>AIzaSyAJghOOmsMdxpY-TNs30d-OjSOvSJD7xww</string>
	<key>GCM_SENDER_ID</key>
	<string>923871135530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voteey</string>
	<key>PROJECT_ID</key>
	<string>voteey-34fa7</string>
	<key>STORAGE_BUCKET</key>
	<string>voteey-34fa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923871135530:ios:b6b872ab0db1c27cf2c053</string>
</dict>
</plist>